CompileFlags:            # 编译标志部分
  Add:
    - "-std=c++20"      # 添加 C++17 支持
    - "-isystem/home/rainytail/proj/vcpkg/installed/x64-linux/include" # 包含头文件, 绝对路径
    - "-isystem/home/rainytail/.xmake/packages/m/muduo/2022.11.01/e9382a25649e4e43bf04f01f925d9c2f/include" # 包含头文件, 绝对路径
    - "-isystem/home/rainytail/.xmake/packages/p/pybind11/v2.13.6/8d7565588f4b45f7a0635954fd1f2205/include" # 包含头文件, 绝对路径
    - "-isystem/home/rainytail/.xmake/packages/t/toml11/v4.3.0/e95772846bcf44baa424824e40ca40d8/include"
    - "-isystem/home/rainytail/.xmake/packages/s/spdlog/v1.15.3/281ab689e3ca4a04813dc400d53c7ac7/include"
    - "-isystem/home/rainytail/.xmake/packages/s/spdlog/v1.15.3/281ab689e3ca4a04813dc400d53c7ac7/include/spdlog/"
    - "-isystem/home/rainytail/.xmake/packages/a/asio/1.34.2/08f9e97208304bfe9403bd2884513fa1/include"
    - "-isystem/home/rainytail/miniconda3/include/python3.12" # 包含头文件, 绝对路径
    - "-isystem/home/rainytail/.xmake/packages/g/gtest/v1.17.0/80b513dc518a40ea8e8714a0a63761e4/include"